.example-card {
    height: 50%;
}

.example-header-image {
    background-image: url('./../assets/ngCameo-blk-white-logo-cleaned.svg');
    background-size: cover;
}

.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}